PORT=8080
APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=majoo_blog

# MySQL container (docker compose)
MYSQL_ROOT_PASSWORD=rootsecret
MYSQL_DATABASE=blog
MYSQL_USER=blog
MYSQL_PASSWORD=blogsecret

JWT_SECRET=change-me
JWT_EXPIRY_MINUTES=60
